* {
    margin: 0;
    padding: 0;
    font-family: "montserrat";
    box-sizing: border-box;
    /* para que los elementos de los sontenedores no sobresalgan */
}

body {
    width: max(850px, 100%);
    /* se utiliza para pornerle un minimo de  */
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #363636;

}

.fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 100%;
    object-fit: cover;
    /* Para que la imagen se adapte sin estirarse */
    top: 50%;
    /* Centramos la imagen verticalmente */
    left: 50%;
    /* Centramos la imagen horizontalmente */
    transform: translate(-50%, -50%);
    /* Desplazamos la imagen para que esté centrada */
    z-index: -2;
}

.part01 {
    display: inline-block;
    /* para que el tamaño del contenedor se adapte al tamaño de los elementos que tiene dentro */
    /*background-color: darkcyan;*/
    padding: 0;
    width: 100%;
    /* es para que el tamaño horizontal sea el 100% de la pantalla de ordenador o dispositivo */
    overflow: hidden;
}

.part01_content01 {
    width: auto;
    height: auto;
    margin-left: 80px;
    /* espacio a la izquierda */
    margin-right: 80px;
    /* espacio a la derecha */
    padding: 20px 0px 0px 0px;

    /*background-color: chartreuse;*/
}

.part01_barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: aquamarine;*/
}

.logo_principal img {
    width: 150px;
    height: auto;
    margin: 0px -50px 0px 0px;

    /*background-color: rebeccapurple;*/
}

.enlaces_barra ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 15px 10px;
    border-radius: 18px;

    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.15);

    /*background-color: bisque;*/
}

.enlaces_barra a {
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    padding: 0px 15px;
    color: rgb(255, 255, 255);
    /*background-color: blueviolet;*/
}

.enlaces_barra a:hover {
    padding: 7px 15px;
    /*margin: 0px 5px;*/
    background-color: #555;
    /* Cambia el color de fondo del enlace al pasar el ratón */
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
    outline: rgba(255, 255, 255, 0.15) solid 1px;
    border-radius: 10px;
}

.part01_content aside {
    width: auto;
    height: 100;
    /*background-color: brown;*/
}

/*------------------------------------------------------------------------------*/

.part01_content02 {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 80px;

    /*background-color: grey;*/
}

.content_texto {
    padding: 5px 20px 20px 20px;
    /*background-color: aqua;*/
}

.part01_texto {
    min-width: 400px;
    max-width: 710px;
    margin: -50px -100px 0px 0px;
    /*background-color: blue;*/

    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 30px;

    z-index: +1;
}

.part01_texto h2 {
    font-weight: 800;
    margin: 0px 0px -15px -5px;
    color: rgba(34, 126, 171, 1.0);
    /*font-size: clamp(70px, 5vw, 250px);*/
    /* clamp(tamaño minimo, porcentaje con relacion a la ventana, preferiblemente (5vw), tamaño maximmo)*/
    font-size: 75px;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.5);
    /*text-shadow: 0px 0px 0px rgba(34, 126, 171, 0.5);*/
}

.part01_texto h3 {
    font-weight: 600;
    /*font-size: clamp(20px, 5vw, 35px);*/
    font-size: 20px;
    color: rgba(34, 126, 171, 1.0);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);
    /*text-shadow:0px 0px 10px rgba(0, 0, 0, 0.8), 0px 0px 5px rgba(4, 76, 112, 0.8);*/
}

.part01_texto p {
    font-weight: 400;
    /*font-size: clamp(20px, 5vw, 35px);*/
    font-size: 20px;
    /*text-shadow:0px 0px 10px rgba(250, 250, 250, 0.4);*/
}

.part01_img img {
    /*width: 220px;*/
    width: 350px;
    margin: 40px 0px;
    z-index: 0;

    /*background-color: aqua;*/
}

/*------------------------------------------------------------------------------*/

.redes_contacto {
    width: 60px;
    height: 170px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
    border: 2px solid rgba(255, 255, 255, 0.15);

    position: fixed;
    bottom: 12%;
    right: 1%;

    z-index: +1;
}

.redes_contacto img {
    width: 35px;
    height: 35px;
}

.icono_contacto {
    padding: 5px 10px;
}

.redes_contacto:hover {
    box-shadow: 0px 0px 30px rgba(34, 126, 171, 0.7);
}

.icono_contacto:hover {
    filter: drop-shadow(0px 0px 10px rgba(34, 126, 171, 1.0));
}

@media(max-width: 1000px) {
    .redes_contacto {
        width: 0px;
        height: 0px;
        z-index: -1;
    }

    .redes_contacto img {
        width: 0px;
        height: 0px;
    }

    .icono_contacto {
        padding: 0px;
    }

    aside .redes_contacto:hover {
        box-shadow: none;
    }

    .icono_contacto:hover {
        box-shadow: none;
    }

}

/*------------------------------------------------------------------------------*/

.part02 {
    display: inline-block;
    /* para que el tamaño del contenedor se adapte al tamaño de los elementos que tiene dentro */
    width: auto;
    padding: 80px 0px 100px 0px;


    background-color: #363636;
}

.part02_text01 {
    display: flex;
    flex-direction: column;
    /* la alineacion de los elementos Flex */
    align-items: center;
    /*background-color: darkred;*/

    margin-left: 80px;
    /* espacio a la izquierda */
    margin-right: 80px;
    /* espacio a la derecha */
}

.part02 h2 {
    color: #227eab;
    /* Define el color del texto del enlace */
    font-weight: 700;
    font-size: 50px;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);

    padding: 0px 0px 50px 0px;

    text-align: center;

    /*background-color: coral;*/
}

.part02 p {
    color: #fff;
    /* Define el color del texto del enlace */
    min-width: 750px;
    max-width: 1800px;
    font-weight: 200;
    font-size: 21px;
    padding: 0px 80px;

    text-align: center;
    /*background-color: mediumvioletred;*/
}

/*------------------------------------------------------------------------------*/

.part03 {
    width: auto;
    display: inline-block;

    /*background-color:burlywood;*/
}

.part03_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin: 80px 80px 80px 80px;
}

.part03_img {

    padding: 0px 50px 0px 0px;
}

.part03_img img {
    width: 400px;
    border-radius: 30px;
}

.part03_text01 {
    max-width: 500px;
    min-width: 300px;
    font-weight: 500;
    font-size: 21px;
    padding: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 30px;
}

/*------------------------------------------------------------------------------*/

.part04 {
    width: auto;
    display: inline-block;

    background-image: url("../assets/fondo_pag01_02.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.part04_content {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 80px 80px 80px 80px;
}

.part04_mision {
    min-width: 500px;
    max-width: 1200px;
    text-align: left;
    margin: 0px 0px 100px 0px;
}

.part04_mision h2 {
    color: #227eab;
    font-weight: 700;
    font-size: 50px;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);

    padding: 0px 0px 0px 0px;
}

.part04_mision p {
    font-weight: 400;
    font-size: 21px;
    color: #ffffff;
}

.part04_vision {
    min-width: 500px;
    max-width: 1200px;
    text-align: right;
    margin: 0px 0px 20px 0px;
}

.part04_vision h2 {
    color: #227eab;
    /* Define el color del texto del enlace */
    font-weight: 700;
    font-size: 50px;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);

    padding: 0px 0px 0px 0px;
}

.part04_vision p {
    font-weight: 400;
    font-size: 21px;
    color: #ffffff;
}

/*------------------------------------------------------------------------------*/

.part_final{
    width: auto;
    display: inline-block;
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.part_final_content{
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 80px 80px 15px 80px;

    /*background-color: darkgoldenrod;*/
}

.part_final_content_01{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 0px 0px 50px 0px;
    
    /*background-color: green;*/
}
.contacto{
    width: auto;
    /*background-color: darkgoldenrod;*/
}

.contacto img{
    width: 200px;
    margin: 0px 0px 20px 0px ;
}

.redes{
    width: 0px;
    height: 0px;

    z-index: -1;
}

.redes img{
    width: 0px;
    margin: 0px;
}

@media(max-width: 1000px){
    .redes{
        width: 60px;
        height: 160px;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        border-radius: 20px;
        backdrop-filter: blur(30px);
        box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
        border: 2px solid rgba(255, 255, 255, 0.15);
    
        z-index: +1;
    }
    
    .redes img{
        width: 35px;
        margin: 5px 10px;
    }
}

.part_final_content_02{
    text-align: center;

    /*background-color:rgba(34, 126, 171, 0.7);*/
}