@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    @font-face {
        font-family: 'Montserrat';
        src: url('montserrat-thin.woff2') format('woff2'),
             url('montserrat-thin.woff') format('woff');
        font-weight: 100;
        font-style: normal;
      }
      
      @font-face {
        font-family: 'Montserrat';
        src: url('montserrat-extralight.woff2') format('woff2'),
             url('montserrat-extralight.woff') format('woff');
        font-weight: 200;
        font-style: normal;
      }
      
      @font-face {
        font-family: 'Montserrat';
        src: url('montserrat-light.woff2') format('woff2'),
             url('montserrat-light.woff') format('woff');
        font-weight: 300;
        font-style: normal;
      }
      
      @font-face {
        font-family: 'Montserrat';
        src: url('montserrat-regular.woff2') format('woff2'),
             url('montserrat-regular.woff') format('woff');
        font-weight: 400;
        font-style: normal;
      }
      
      @font-face {
        font-family: 'Montserrat';
        src: url('montserrat-medium.woff2') format('woff2'),
             url('montserrat-medium.woff') format('woff');
        font-weight: 500;
        font-style: normal;
      }
      
      @font-face {
        font-family: 'Montserrat';
        src: url('montserrat-semibold.woff2') format('woff2'),
             url('montserrat-semibold.woff') format('woff');
        font-weight: 600;
        font-style: normal;
      }
      
      @font-face {
        font-family: 'Montserrat';
        src: url('montserrat-bold.woff2') format('woff2'),
             url('montserrat-bold.woff') format('woff');
        font-weight: 700;
        font-style: normal;
      }
      
      @font-face {
        font-family: 'Montserrat';
        src: url('montserrat-extrabold.woff2') format('woff2'),
             url('montserrat-extrabold.woff') format('woff');
        font-weight: 800;
        font-style: normal;
      }
      
      @font-face {
        font-family: 'Montserrat';
        src: url('montserrat-black.woff2') format('woff2'),
             url('montserrat-black.woff') format('woff');
        font-weight: 900;
        font-style: normal;
      }

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat";
}

::-webkit-scrollbar {   /* Dimenciones de la barra de Scroll */
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {   /* Color de la barra de Scroll */
  background-color: rgba(34, 126, 171, 1.0);/* Color de la barra de Scroll */
  border-radius: 10px;
  filter: blur(30px); /* Aplicar blur al botón de scroll */
}

.fondo_1{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 620px;
  opacity: 70%;
  z-index: -2;
}

.fondo_2{
  position: absolute;
  top: 1140px;
  left: 0;
  width: 100%;
  height: 700px;
  opacity: 70%;
  z-index: -2;
}

.elemento_01{
  position: absolute;
  top: 520px;
  left: 0;
  width: 350px;
  height: 150px;
  z-index: -2;

  margin-left: -100px;
}
/*
.elemento_02{
  position: absolute;
  top: 1120px;
  left: 1140px;
  width: 350px;
  height: 50px;
  z-index: -2;
}
*/
/* ------------------------------------ */ 

body {
    background-color: #363636;
    height: 5000px;   /* o cualquier otro valor que desees */
    margin-left: 80px;    /* espacio a la izquierda */
    margin-right: 80px;   /* espacio a la derecha */ 
}

header {
  /*background-color: #333; /* Establece el color de fondo del encabezado */
  /*color: white; /* Define el color del texto en el encabezado */
  padding: 20px 0px 0px 0px; /* Añade espacio alrededor del contenido del encabezado */
}

.barra {
  display: flex; /* Usa flexbox ubicar en el contenedor */
  justify-content: space-between; /* Distribuye el espacio entre los elementos */
  align-items: center; /* Centra verticalmente los elementos */

  /*flex-grow: 3;   /* Prioridad en gerarquias para que el elemnto se expanda */
  /*flex-basis: 50%;    /* Prioridad en gerarquias para que el elemnto se expanda */
}

.logo img {
  height: 40px; /* Ajusta el tamaño del logo */
  filter: drop-shadow(0px 0px 30px rgba(255, 255, 255, 0.5));
  /* filter: drop-shadow(0px 0px 30px rgba(34, 126, 171, 1.0)); */
}

nav {
  border-radius: 20px;

  backdrop-filter: blur(30px);
  box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
  border: 2px solid rgba(255, 255, 255, 0.15);
  display: flex; /* Usa flexbox para alinear horizontalmente los elementos del nav */
  align-items: center; /* Centra verticalmente los elementos dentro del nav */

  padding: 15px 0px 15px 0px;
}

.nav-bar ul{
  display: flex;
  justify-content: space-between; /* Distribuye el espacio entre los elementos */
  align-items: center; /* Centra verticalmente los elementos */
}

nav .nav-bar ul li {
  list-style: none; /* Elimina los estilos de lista predeterminados */
  margin: 0 20px; /* Añade margen a los lados de cada elemento de la lista */

  transition: 2s;
}

nav .nav-bar ul a {
  color: white; /* Define el color del texto del enlace */
  text-decoration: none; /* Elimina el subrayado de los enlaces */
  font-weight: 500;
}

nav .nav-bar ul a:hover {
  background-color: #555; /* Cambia el color de fondo del enlace al pasar el ratón */
  box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
  border: 2px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px; /* Añade bordes redondeados al enlace */
  padding: 5px 10px; /* Añade espacio dentro del enlace */

  margin: 0px -11px; /* Añade margen a los lados de cada elemento de la lista */
}

/* ------------------------------------ */ 

aside{
  width: 60px;
  height: 170px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 20px;
  backdrop-filter: blur(30px);
  box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
  border: 2px solid rgba(255, 255, 255, 0.15);

  position: fixed;
  bottom: 5%;
  right: 1%;
}

aside img{
  width: 35px;
  height: 35px;
}

.icono_whatsApp{
  padding: 5px 10px;
}

.icono_instagram{
  padding: 5px 10px;
}

.icono_github{
  padding: 5px 10px;
}

aside:hover{
  box-shadow: 0px 0px 30px rgba(34, 126, 171, 0.7);
}

.icono_whatsApp:hover {
  filter: drop-shadow(0px 0px 10px rgba(34, 126, 171, 1.0));
}

.icono_instagram:hover {
  filter: drop-shadow(0px 0px 10px rgba(34, 126, 171, 1.0));
}

.icono_github:hover {
  filter: drop-shadow(0px 0px 10px rgba(34, 126, 171, 1.0));
}

/* ------------------------------------ */ 

.part1{
  margin: 15px 0px 90px 0px;
  width: auto;
  height: 480px;
  /*background-color: black;*/

  display: flex; /* Usa flexbox para alinear los elementos de forma orizontal */
  justify-content: center; /* Distribuye el espacio entre los elementos */
  align-items: center; /* Centra verticalmente los elementos */
}

.part1-text1{
  padding: 0px 0px 0px 90px;
  margin: 0px -180px 80px 0px;

  z-index: 1;

}

.part1 h2{
  color: #227eab; /* Define el color del texto del enlace */
  font-weight: 700;
  /*font-size: 90px;*/
  font-size: clamp(40px, 5vw, 90px);
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  /*text-shadow: 0px 0px 0px rgba(34, 126, 171, 0.5);*/

  margin: 0px 0px -15px -5px;
}

.part1 h3{
  color: #fff; /* Define el color del texto del enlace */
  font-weight: 600;
  font-size: 25px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1.0);
}

.part1 p{
  color: #fff; /* Define el color del texto del enlace */
  font-weight: 200;
  font-size: 25px;
}

.part1 img{
  width: 700px;
  margin-left: auto;
  
  margin: -15px -40px -150px -10px;
}

/* ------------------------------------ */ 

.part2{
  margin: 0px 0px 120px 0px;
  width: auto;
  height: 400px;
  /*background-color: black; */

  align-content: center;
}

.part2 h2{
  color: #227eab; /* Define el color del texto del enlace */
  font-weight: 700;
  font-size: 50px;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);

  padding: 0px 0px 50px 0px;

  text-align: center;
}

.part2 p{
  color: #fff; /* Define el color del texto del enlace */
  font-weight: 200;
  font-size: 21px;
  text-align: center;
}

/* ------------------------------------ */ 

.part3{
  margin: 0px 0px 100px 0px;
  width: auto;
  height: 600px;

  /*background-color: bisque;*/

  display: flex;
  flex-direction: row;    /* direccion de los elementos en este caso uno al lado del otro horizontalmente */
  justify-content: center;    /* Centra horizontalmente los elementos */
  align-items: center;    /* Centra verticalmente los elementos */
}

.foto_hector{
  padding: 80px;
  /*border: 1px solid green;*/
}

.foto_hector img{
  width: 400px;
  height: 400px;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5), 0px 0px 50px rgba(34, 126, 171, 1.0);

  border-radius: 40px;
}

.part3 p{
  color: #ffffff;
  /*background-color: black;*/
  width: 700px;
  height: 250px;
  font-weight: 400;
  font-size: 23px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 1.0);

  /*border: 1px solid green;*/
}